/* Define estilos globais para o site */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(210, 216, 243);
    color: #333;
}

/* Estilos para o cabeçalho e navegação */
header {
    background-color: #0d3eaa;
    padding: 10px 0;
}

nav ul.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Utiliza o Flexbox para o layout */
    justify-content: center; /* Centraliza os itens na horizontal */
}

nav ul.nav-links li {
    flex: 1; /* Cada link ocupa igualmente o espaço disponível */
    text-align: center; /* Centraliza o texto dos links */
    margin: 0 10px; /* Espaçamento entre os links */
}

nav ul.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block; /* Faz o link ocupar todo o espaço do item */
    padding: 10px; /* Espaçamento interno dos links */
    transition: background-color 0.3s; /* Efeito de transição ao passar o mouse */
}

nav ul.nav-links li a:hover {
    background-color: #2e9aa8; /* Cor de fundo ao passar o mouse */
}

/* Estilos para o conteúdo principal */
main {
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    background-color:rgb(210, 216, 243);
    background-repeat: repeat;
    background-size: cover;

}

/* Estilos para o formulário de contato */
form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: 20px auto;
}

input, textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
